<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UNCC Notes App">
    <title>UNCC Notes App</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>Navigation</h1>
    <ul>
        {% block navigation %}
        <li><a href="{{ url_for('main_page') }}">Home</a></li>
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('user_login') }}">Login</a></li>
        {% else %}
        <li><a href="{{ url_for('list_notes') }}">Course notes</a></li>
        <li><a href="{{ url_for('create_new_note') }}">Create note</a></li>
        {% endif %}
        {% endblock navigation %}
    </ul>

    {% block body %}
    {% endblock %}
</body>

</html>