{% extends "core.html" %}

{% block body %}

<form class="create_note" action="{{ url_for('create_new_note') }}" method="post">
    <p><label class="note_label">Title </label></p>
    <p> <input class="note_input" type="text" name="title" placeholder="Title" /></p>
    <p><label class="note_label">Text</label></p>
    <p>
        <textarea class="note_input" rows="12" cols="80" name="text" />Enter Text Here. . . . .
    </textarea>
    </p>
    <p><input class="note_input" type="submit" value="Create Note" /></p>
</form>

{% endblock body %}