{% extends "core.html" %}
{% block body %}
<h1>Note Data</h1>
<h2>{{ note.title }}</h2>

<h2>{{ note.date }}</h2>

<h3>View count: {{ note.views }}</h3>
<h4>Average rating: {{ note.rating }}</h4>

<p>{{ note.text }}</p>

{% for attachment in note.attachments %}

<section>
    {{ attachment.display_name }} 

    <form action="{{ url_for('download', note_id=note.id, attachment_id=attachment.id)}}" method="post">
        <input type="submit" value="Download">
    </form>
    {% if can_edit %}
    <form class="delete_file" action="{{ url_for('delete_file', note_id=note.id, attachment_id=attachment.id) }}"
        method="post">
        <input type="submit" class="delete_file" value="X">
    </form>
    {% endif %}
</section>

{% endfor %}

{% if can_edit %}
<a href="{{ url_for('note_edit', note_id=note.id) }}">Edit</a>

<form action="{{ url_for('note_delete', note_id=note.id) }}" method="post">
    <input type="submit" value="Delete">
</form>
{% endif %}

{% if admin %}
<a href="/notes/{{ note.id }}/permissions">Set Permissions</a>
{% endif %}

<form action ="{{ url_for('rate_note', note_id=note.id) }}" method="post">
    <label>1</label>
    <input type="radio" name = "rate" value = "1" {% if rating.value == 1 %} checked = "checked" {% endif %}>
    <input type="radio" name = "rate" value = "2" {% if rating.value == 2 %} checked = "checked" {% endif %}>
    <input type="radio" name = "rate" value = "3" {% if rating.value == 3 %} checked = "checked" {% endif %}>
    <input type="radio" name = "rate" value = "4" {% if rating.value == 4 %} checked = "checked" {% endif %}>
    <input type="radio" name = "rate" value = "5" {% if rating.value == 5 %} checked = "checked" {% endif %}>
    <label>5</label>
    <input type="submit" value = "Rate Note">
</form>

{% if can_edit %}
<form action ="{{ url_for('upload_file', note_id=note.id) }}" method = "POST" enctype=multipart/form-data>
      <input type= "file"  name= "file" >
      <input type="Submit" >
    </form>
{% endif %}
<h4>Comments</h4>

{% for comment in note.comments %}

<section>
    {{ comment.owner.name }} : {{ comment.body }} {{ comment.date }}

    {% if admin or current_user.id == comment.owner.id %}

    <form class="delete_comment" action="{{ url_for('remove_comment', comment_id=comment.id, note_id=note.id) }}"
        method="post">
        <input type="submit" class="delete_comment" value="X">
    </form>
</section>
{% endif %}
{% endfor %}

{% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
{% endfor %}

{% if can_comment %}
<form action="{{ url_for('create_comment', note_id=note.id) }}" method="post">
    <input type="text" name="body"> <input type="submit" value="Add Comment">
</form>
{% endif %}

{% endblock body %}