{% extends "core.html" %}
{% block body %}
<h1 class="note_data_head">Note Data</h1>
<span class="note_header"> <h2>{{ note.title }}</h2></span>

<span class="note_header"> <h2>{{ note.date }}</h2></span>

<div class="move_everything">
<h3 class="count_rating">View count: {{ note.views }}</h3>





{% for attachment in note.attachments %}

<section>
    {{ attachment.display_name }} 

    <form action="{{ url_for('download', note_id=note.id, attachment_id=attachment.id)}}" method="post">
        <input type="submit" value="Download">
    </form>
    {% if can_edit %}
    <form class="delete_file" action="{{ url_for('delete_file', note_id=note.id, attachment_id=attachment.id) }}"
        method="post">
        <input type="submit" class="delete_file" value="X">
    </form>
    {% endif %}
</section>

{% endfor %} 

<br>
<h3 class="count_rating">Average rating: {{ note.rating }}</h4>
<p class="view_notes">{{ note.text }}</p>

{% if can_edit %}
<form action ="{{ url_for('upload_file', note_id=note.id) }}" method = "POST" enctype=multipart/form-data>
      <input type= "file"  name= "file" >
      <input type="Submit" >
    </form>
{% endif %}
<br>
<div class="move_everything">
{% if admin %}
<a href="/notes/{{ note.id }}/permissions" class="perm_link">Set Permissions</a>
{% endif %}    
<br>
<br>
{% if can_edit %}
<a class="edit_link" href="{{ url_for('note_edit', note_id=note.id) }}">Edit</a>
<br>
<br>

<form action="{{ url_for('note_delete', note_id=note.id) }}" method="post">
    <input class="data_btn" type="submit" value="Delete">
</form>
{% endif %}
<br>
<form class="rating" action="{{ url_for('rate_note', note_id=note.id) }}" method="post">
    <label>1</label>
    <input class="rating_btn" type="radio" name = "rate" value = "1" {% if rating.value == 1 %} checked = "checked" {% endif %}>
    <input class="rating_btn" type="radio" name = "rate" value = "2" {% if rating.value == 2 %} checked = "checked" {% endif %}>
    <input class="rating_btn" type="radio" name = "rate" value = "3" {% if rating.value == 3 %} checked = "checked" {% endif %}>
    <input class="rating_btn" type="radio" name = "rate" value = "4" {% if rating.value == 4 %} checked = "checked" {% endif %}>
    <input class="rating_btn" type="radio" name = "rate" value = "5" {% if rating.value == 5 %} checked = "checked" {% endif %}>
    <label>5</label>
    <br>
    <input class="data_btn" type="submit" value = "Rate Note">
</form>

{% if can_edit %}
<form action ="{{ url_for('upload_file', note_id=note.id) }}" method = "POST" enctype=multipart/form-data>
    <input type= "file"  name= "file" >
    <input type="Submit" >
</form>
{% endif %}

{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}

<h4 class="comment_header">Comments</h4>

{% for comment in note.comments %}
<section class="comment_detail"> 
    {{ comment.owner.name }} : {{ comment.body }} {{ comment.date }}

    {% if admin or current_user.id == comment.owner.id %}

    <form class="delete_comment" action="{{ url_for('remove_comment', comment_id=comment.id, note_id=note.id) }}"
        method="post">
        <input class="data_btn" type="submit" class="delete_comment" value="X">
    </form>
</section>
{% endif %}
{% endfor %}



{% if can_comment %}
<form action="{{ url_for('create_comment', note_id=note.id) }}" method="post">
    <input class="data_input" type="text" name="body"> <br> <input class="data_btn" type="submit" value="Add Comment">
</form>
{% endif %}

{% endblock body %}
</div>