{% extends "core.html" %}

{% block body %}

<form class="register_form" action="{{ url_for('create_account') }}" method="post">
    <p><label class="register_label">Username </label></p>
    <p><input class="register_input" type="text" name="user_name" placeholder="username" /></p>
    <p><label class="register_label">Password</label></p>
    <p><input class="register_input" type="password" name="password" placeholder="password" /></p>
    <p><input class="register_input" type="submit" value="Register" /></p>
</form>

{% endblock body %}